name: Deploy to EC2

on:
  push:
    branches:
      - production
  pull_request:
    branches:
      - production

env:
  AWS_REGION: ap-northeast-2
  AWS_S3_BUCKET: herewe-deploy-bucket
  AWS_CODE_DEPLOY_APPLICATION: HEREWE-Application
  AWS_CODE_DEPLOY_GROUP: HEREWE-Deployment-Group
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_TOKEN }}
  IMAGE_NAME: herewe/herewe-server

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    services:
      redis:
        image: redis:latest
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.ACTIONS_TOKEN }}
          submodules: true

      - name: Create directories and copy yml files
        run: |
          cp HERE-WE-SECRET/.env .
          
          mkdir -p src/main/resources
          cp HERE-WE-SECRET/main/resources/application.yml src/main/resources/
          cp HERE-WE-SECRET/main/resources/application-dev.yml src/main/resources/
          cp HERE-WE-SECRET/main/resources/application-oauth.yml src/main/resources/
          cp HERE-WE-SECRET/main/resources/application-common.yml src/main/resources/

          mkdir -p src/test/resources
          cp HERE-WE-SECRET/test/resources/application.yml src/test/resources/
          cp HERE-WE-SECRET/test/resources/application-test.yml src/test/resources/

          echo "Main resources contents:"
          ls -la src/main/resources/
          echo "Test resources contents:"
          ls -la src/test/resources/

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Test Redis Connection
        run: |
          sudo apt-get install -y redis-tools
          redis-cli ping

      - name: Grant execute permission for gradlew
        run: chmod +x ./gradlew
        shell: bash

      - name: Build with Gradle and Test
        run: ./gradlew clean build

        # Docker Hub 로그인
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Build and Push Docker Image
        run: |
          docker build -t $IMAGE_NAME .
          docker tag $IMAGE_NAME $IMAGE_NAME:latest
          docker push $IMAGE_NAME:latest

      - name: AWS credential 설정
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: ${{ env.AWS_REGION }}
          aws-access-key-id: ${{ secrets.CICD_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.CICD_SECRET_KEY }}

      - name: Upload to S3
        run: |
          zip -r deploy.zip appspec.yml scripts/deploy.sh
          aws s3 cp deploy.zip s3://$AWS_S3_BUCKET/deploy.zip --region $AWS_REGION

      - name: Deploy with CodeDeploy
        run: |
          aws deploy create-deployment \
            --application-name $AWS_CODE_DEPLOY_APPLICATION \
            --deployment-group-name $AWS_CODE_DEPLOY_GROUP \
            --s3-location bucket=$AWS_S3_BUCKET,bundleType=zip,key=deploy.zip \
            --region $AWS_REGION
